<a href="https://colab.research.google.com/github/mmayeedsa/MLOps_Workshop/blob/main/AB%26BProjectSeattle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BONUS PROJECT: Data Preprocessing & Feature Engineering for Machine Learning

## Data Import and first Inspection

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
#df = pd.read_csv("housing.csv")

from google.colab import drive
drive.mount('/content/drive')

# Reload the Excel file
file_path = '/content/drive/My Drive/Course_Materials_ALL/Course_Materials_Part5/housing.csv'
df = pd.read_csv(file_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

__Features__:

* **longitude:**  geographic coordinate (district´s east-west position)
* **latitude:**  geographic coordinate (district´s north-south position)
* **housing_median_age:** median age of houses in district
* **total_rooms** Sum of all rooms in district
* **total_bedrooms** Sum of all bedrooms in district
* **population:** total population in district
* **households:** total households in district
* **median_income:** median household income in district
* **median_house_value:** median house value in district
* **ocean_proximity:** District´s proximity to the ocean

In [ ]:
df.info()

In [ ]:
df[df.total_bedrooms.isna()]

In [ ]:
df[df.duplicated()]

In [ ]:
df.describe()

In [ ]:
df.describe(include = "O")

In [ ]:
df.ocean_proximity.value_counts()

In [ ]:
df.total_rooms.value_counts()

In [ ]:
df.hist(bins=50, figsize=(20,15))
plt.show()

## Data Cleaning and Creating additional Features

In [ ]:
df.info()

In [ ]:
df.dropna(inplace = True)

In [ ]:
df["rooms_per_household"] = df.total_rooms.div(df.households)

In [ ]:
df.rooms_per_household.nlargest(10)

In [ ]:
df.rooms_per_household.nsmallest(10)

In [ ]:
df.loc[[1979, 5916, 8219]]

In [ ]:
df["pop_per_household"] = df.population.div(df.households)

In [ ]:
df["bedrooms_per_room"] = df.total_bedrooms.div(df.total_rooms)

In [ ]:
df.describe()

## Which Factors influence House Prices?

In [ ]:
df

In [ ]:
df.median_house_value.hist(bins = 100, figsize = (12, 8))
plt.show()

In [ ]:
df.corr(numeric_only=True).median_house_value.sort_values(ascending = False)

In [ ]:
df.median_income.hist(bins = 100, figsize = (12, 8))
plt.show()

In [ ]:
sns.set(font_scale=1.5)
sns.jointplot(data = df, x = "median_income", y = "median_house_value", kind = "reg", height = 10)
plt.show()

In [ ]:
sns.set(font_scale=1.5)
sns.jointplot(data = df, x = "median_income", y = "median_house_value", kind = "kde", height = 10)
plt.show()

In [ ]:
df.plot(kind="scatter", x="longitude", y="latitude",
                       s=df.population/100, label="Population", figsize = (15, 10),
                       c="median_house_value", cmap= "coolwarm",
                       colorbar=True, alpha=0.4, fontsize = 15, sharex = False)
plt.ylabel("Latitude", fontsize=14)
plt.xlabel("Longitude", fontsize=14)
plt.legend(fontsize=16)
plt.show()

In [ ]:
import matplotlib.image as mpimg
california_img = mpimg.imread("california.png")

In [ ]:
california_img

In [ ]:
plt.figure(figsize = (15, 10))
plt.imshow(california_img)
plt.show()

In [ ]:
plt.figure(figsize = (15, 10))
plt.imshow(california_img, extent=[-124.55, -113.80, 32.45, 42.05])
plt.show()

In [ ]:
df.plot(kind="scatter", x="longitude", y="latitude",
                       s=df.population/100, label="Population", figsize = (15, 10),
                       c="median_house_value", cmap="coolwarm",
                       colorbar=True, alpha=0.4, fontsize = 20, sharex = False)

plt.imshow(california_img, extent=[-124.55, -113.80, 32.45, 42.05], alpha=0.5,
           cmap=plt.get_cmap("jet"))

plt.ylabel("Latitude", fontsize=14)
plt.xlabel("Longitude", fontsize=14)
plt.title("House Prices in California", fontsize = 20)
plt.legend(fontsize=16)
plt.show()

In [ ]:
prox = df.ocean_proximity.unique()
prox

In [ ]:
df_loc = df[df.ocean_proximity == prox[2]].copy()

In [ ]:
df_loc.plot(kind="scatter", x="longitude", y="latitude",
                       s=df_loc['population']/100, label="Population", figsize = (15, 10),
                       c="median_house_value", cmap="coolwarm",
                       colorbar=True, alpha=0.4, fontsize = 20, sharex = False
                      )
plt.imshow(california_img, extent=[-124.55, -113.80, 32.45, 42.05], alpha=0.5,
           cmap=plt.get_cmap("jet"))

plt.ylabel("Latitude", fontsize=14)
plt.xlabel("Longitude", fontsize=14)
plt.legend(fontsize=16)
plt.show()

## Advanced Explanatory Data Analyis with Seaborn

In [ ]:
df

In [ ]:
df.median_income.hist(bins=50, figsize=(15,10))
plt.title("Median Income")
plt.show()

In [ ]:
pd.qcut(df.median_income, q = [0, 0.25, 0.5, 0.75, 0.95, 1])

In [ ]:
df["income_cat"] = pd.qcut(df.median_income, q = [0, 0.25, 0.5, 0.75, 0.95, 1],
                           labels = ["Low", "Below_Average", "Above_Average", "High", "Very High"])

In [ ]:
df.income_cat

In [ ]:
df.income_cat.value_counts(normalize = True)

In [ ]:
plt.figure(figsize=(12,8))
sns.set(font_scale=1.5, palette= "viridis")
sns.countplot(data = df, x = "income_cat", hue = "ocean_proximity")
plt.legend(loc = 1)
plt.show()

In [ ]:
plt.figure(figsize=(12,8))
sns.set(font_scale=1.5)
sns.barplot(data = df, x = "income_cat", y = "median_house_value", dodge = True)
plt.show()

In [ ]:
plt.figure(figsize=(12,8))
sns.set(font_scale=1.5)
sns.barplot(data = df, x = "ocean_proximity", y = "median_house_value", dodge = True)
plt.show()

In [ ]:
matrix = df.groupby(["income_cat", "ocean_proximity"]).median_house_value.mean().unstack().drop(columns = ["ISLAND"])

In [ ]:
matrix.astype("int")

In [ ]:
plt.figure(figsize=(12,8))
sns.set(font_scale=1.4)
sns.heatmap(matrix.astype("int"), cmap = "Reds", annot = True, fmt = "d", vmin = 90000, vmax = 470000)
plt.show()

## Feature Engineering - Part 1

In [ ]:
label = df.median_house_value.copy()
label

In [ ]:
features = df.drop(columns = ["median_house_value"])
features

In [ ]:
features.info()

In [ ]:
features.select_dtypes("float")

In [ ]:
import scipy.stats as stats

In [ ]:
feat1 = features.select_dtypes("float").apply(lambda x: stats.zscore(x))
feat1

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
feat1.agg(["mean", "std"])

## Feature Engineering - Part 2

In [ ]:
features.ocean_proximity

In [ ]:
features.ocean_proximity.value_counts()

In [ ]:
dummies = pd.get_dummies(features.ocean_proximity)
dummies

In [ ]:
features = pd.concat([feat1, dummies, df.income_cat], axis = 1)
features

## Splitting the Data into Train and Test Set

In [ ]:
features

In [ ]:
test_size = 0.2

In [ ]:
X_test = features.sample(frac = test_size, random_state= 123)

In [ ]:
X_test

In [ ]:
X_test.income_cat.value_counts(normalize = True)

In [ ]:
features.income_cat.value_counts(normalize = True)

In [ ]:
X_test.index

In [ ]:
X_train = features.loc[~features.index.isin(X_test.index)].copy()

In [ ]:
X_train

In [ ]:
X_train.income_cat.value_counts(normalize = True)

In [ ]:
X_train = X_train.sample(frac = 1, random_state= 123)
X_train

In [ ]:
X_train.drop(columns = ["income_cat"], inplace = True)

In [ ]:
X_test.drop(columns = ["income_cat"], inplace = True)

In [ ]:
y_train = label.loc[X_train.index]
y_test = label.loc[X_test.index]

In [ ]:
y_train

## Training the ML Model (Random Forest Regressor)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
forest_reg = RandomForestRegressor(random_state = 42, n_estimators = 500,
                                   max_features= "sqrt", max_depth= 75, min_samples_split=2)

In [ ]:
forest_reg.fit(X_train, y_train)

In [ ]:
forest_reg.score(X_train, y_train)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
pred = forest_reg.predict(X_train)
pred

In [ ]:
forest_mse = mean_squared_error(y_train, pred)
forest_rmse = np.sqrt(forest_mse)
forest_rmse

## Evaluating the Model on the Test Set

In [ ]:
forest_reg

In [ ]:
forest_reg.score(X_test, y_test)

In [ ]:
pred = forest_reg.predict(X_test)
pred

In [ ]:
forest_mse = mean_squared_error(y_test, pred)
forest_rmse = np.sqrt(forest_mse)
forest_rmse

In [ ]:
comp = pd.DataFrame(data = {"True_V": y_test, "Pred":pred})
comp

In [ ]:
ae = comp.True_V.sub(comp.Pred).abs()
ae

In [ ]:
mae = ae.mean()
mae

## Feature Importance

In [ ]:
forest_reg.feature_importances_

In [ ]:
feature_imp = pd.Series(data = forest_reg.feature_importances_,
                        index = X_train.columns).sort_values(ascending = False)

In [ ]:
feature_imp

In [ ]:
feature_imp.sort_values().plot.barh(figsize = (12, 8))
plt.show()